<div class="vertical-center">
    <div class="container">

        <!-- Mode Tout en un -->
        <div class="alert alert-warning d-flex mb-5" role="alert">
            <h1 class="w-100">Mode tout en un</h1>
            <a class="btn btn-primary flex-shrink-1 align-self-center" routerLink="gameBoard"><i
                    class="material-icons">important_devices</i></a>
        </div>

        <!-- Mode Buzzer -->
        <div class="alert alert-primary d-flex mb-5" role="alert">
            <h1 class="align-self-center w-100">Mode Buzzer</h1>

            <div class="btn-group-vertical flex-shrink-1 ms-1" role="group">

                <div class="btn-group" role="group">
                    <a class="btn btn-primary align-self-center" routerLink="lightBoard"><i
                            class="material-icons">monitor</i></a>
                    <a class="btn btn-success align-self-center" routerLink="commandPad"><i
                            class="material-icons">mobile_screen_share</i></a>
                </div>

                <div class="btn-group" role="group">
                    <a class="btn btn-warning align-self-center" routerLink="buzzer"><i
                            class="material-icons">pan_tool</i></a>
                    <a class="btn btn-info align-self-center" routerLink="buzzerQrcode"><i
                            class="material-icons">qr_code_2</i></a>
                </div>

            </div>
        </div>

        <!-- Mode Vote -->
        <div class="alert alert-success d-flex mb-5" role="alert">
            <h1 class="align-self-center w-100">Mode Vote</h1>

            <div class="btn-group-vertical flex-shrink-1 ms-1" role="group">

                <div class="btn-group" role="group">
                    <a class="btn btn-primary align-self-center" routerLink="voteBoard"><i
                            class="material-icons">monitor</i></a>
                    <a class="btn btn-success align-self-center" routerLink="votePadManager"><i
                            class="material-icons">mobile_screen_share</i></a>
                </div>

                <div class="btn-group" role="group">
                    <a class="btn btn-warning align-self-center" routerLink="votePad"><i
                            class="material-icons">how_to_vote</i></a>
                    <a class="btn btn-info align-self-center" routerLink="voteQrcode"><i
                            class="material-icons">qr_code_2</i></a>
                </div>

            </div>
        </div>

    </div>
</div>